body {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

video {
  width: 250px;
  border-radius: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.yes-btn {
  background: red;
  color: white;
}

.no-btn {
  background: gray;
  color: white;
}

.result-container {
  display: none;
}
